body {
          display: flex;
             flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh; /* Full viewport height */
            margin: 0;
            background-color: #0b1522; /* Change background color */
            position: relative;
}

.top_left_text {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    z-index: 1;
    font: bold;
}

.counter {
    margin-bottom: 20px; 
    font-size: 20px;
    position: relative; 
    bottom: 180px; 
    color: white;
          font: bold;
 }
